#welcome {
	height: 100vh;
}

#article-container {
	height: 100vh;
	padding-top: 10vh;
}

#article-col {
	height: 80vh;
}

#note {
	height: 40vh;
	/*margin-bottom: 0vh;*/
}

#remove {
	height:40vh;
	/*margin-top: 0vh;*/
}

#noterow {
	margin-bottom: 0vh;
}

#removerow {
	margin-top: 0vh;
}

#button-col {
	height: 80vh;
}

#article-card {
	height: 90%;
	margin: 0 auto;
}

#upload-div {
	padding: 20px;
}

#upload-icon {
	width: 70%;
}